flows_ghdi7662.json
[{"id":"580791eb.8b6ae","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"ba971a5c.1cef18","type":"mqtt-broker","name":"","broker":"192.168.0.200","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"375344c2.57ef1c","type":"mqtt in","z":"580791eb.8b6ae","name":"MOTT-온도 수신","topic":"/test","qos":"0","datatype":"auto","broker":"ba971a5c.1cef18","nl":false,"rap":true,"rh":0,"x":140,"y":400,"wires":[["67b42b37.ef3924","a468754e.50c038"]]},{"id":"67b42b37.ef3924","type":"debug","z":"580791eb.8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":600,"wires":[]},{"id":"65af4b46.5899b4","type":"inject","z":"580791eb.8b6ae","name":"최초실행","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.0","topic":"안녕","payload":"","payloadType":"date","x":120,"y":120,"wires":[["860d5b80.45f628","676bd5d.73d442c"]]},{"id":"61d200be.7087","type":"comment","z":"580791eb.8b6ae","name":"초기 변수 설정","info":"## 온도체크 초기변수 설정\n\n## 데이터 저장\n\n함수 노드에는 컨텍스트에 엑세스하는데 사용할 수 있는\n사전 정의 된 세가지 변수가 있습니다.\n- context : 노드의 로컬 컨텍스트\n- flow : 흐름 범위 컨텍스트\n- global : 글로벌 범위 컨테스트","x":150,"y":80,"wires":[]},{"id":"676bd5d.73d442c","type":"function","z":"580791eb.8b6ae","name":"초기변수 설정","func":"// =====================================\n// 플로우 레벨 변수 선언\n// =====================================\nflow.set(\"warnTemp\", 25.0);     // 주위 온도\nflow.set(\"dangTemp\", 30.0);     // 위험 온도\nflow.set(\"delayTime\", 10000);   // 온도변화 측정 딜레이 타임(ms)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[[]]},{"id":"d94de33.588012","type":"comment","z":"580791eb.8b6ae","name":"Contaner 온도 요청","info":"","x":150,"y":220,"wires":[]},{"id":"5c0663d0.96ae4c","type":"inject","z":"580791eb.8b6ae","name":"온도 측정 타임","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp","payloadType":"str","x":150,"y":260,"wires":[[]]},{"id":"233471dd.59d44e","type":"mqtt out","z":"580791eb.8b6ae","name":"MQTT-온도 요청","topic":"/test","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba971a5c.1cef18","x":340,"y":260,"wires":[]},{"id":"a468754e.50c038","type":"function","z":"580791eb.8b6ae","name":"위험온도 체크","func":"// 전달 인수 설정\nvar curTemp = parseFloat(msg.payload);\nvar newMsg={\n    payload:\"\",\n    topic:\"\",\n    lamp: 0\n};\nvar curDate = new Date();\n\n//flow 초기변수 얻기\nvar warnTemp = flow.get(\"warnTemp\");\nvar dangTemp = flow.get(\"dangTemp\");\nvar delayTime = flow.get(\"delayTime\");\n\n// 앞전의 온도와 온도 기록 시각을 가져온다.\nvar prevTemp = context.get(\"temp_c\") || 0;\nvar prevTime = context.get(\"temp_time\") || 0;\n\nvar curTime = curDate.getTime();\n\nif(curTemp > dangTemp)\n    node.status({fill:\"red\", shape:\"dot\", text:\"C:\"+String(curTemp)+\", P\"+String(prevTemp)});\nelse    \n    node.status({fill:\"green\", shape:\"ring\", text:\"C:\"+String(curTemp)+\", P\"+String(prevTemp)});\n\n// 지정된 간격으로 체크한다.\nif((curTime - prevTime)>delayTime)\n{\n    // 현재 온도와 시각을 현재 노드에 기록한다.\n    context.set([\"temp_c\", \"temp_time\"], [curTemp, curTime]);\n    \n    // 현재 온도가 위험온도를 넘으면 다음 로드에 온도를 전달한다.\n    if(prevTemp<dangTemp && curTemp>=dangTemp)\n    {\n        newMsg.topic = \"Contaner 온도 경고\";\n        newMsg.payload = \"온도가 \" + String(dangTemp) + \" 도씨를 넘었습니다. 현재 온도는 \" + String(curTemp) + \"입니다.\";\n        newMsg.lamp = 1;\n        return newMsg;\n    }\n    else if(prevTemp>=dangTemp && curTemp < dangTemp)\n    {\n        newMsg.topic = \"Contaner 온도 경고 해제\";\n        newMsg.payload = \"온도가 \" + String(dangTemp) + \" 도씨 아래로 내어왔습니다. 현재 온도는 \" + String(curTemp) + \"입니다.\";\n        newMsg.lamp = 0;\n        return newMsg;\n    }\n}\n\n// null을 return하면 뒤의 노드들이 실행되지 않는다\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":400,"wires":[["2d84f49a.d1804c"]]},{"id":"6e08f5a7.b76b0c","type":"status","z":"580791eb.8b6ae","name":"","scope":null,"x":340,"y":500,"wires":[[]]},{"id":"2d84f49a.d1804c","type":"change","z":"580791eb.8b6ae","name":"램프 On/Off 값 설성","rules":[{"t":"move","p":"lamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":400,"wires":[["a6915b7c.a77e68"]]},{"id":"a6915b7c.a77e68","type":"mqtt out","z":"580791eb.8b6ae","name":"MQTT-램프 On/Off","topic":"/test","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba971a5c.1cef18","x":790,"y":400,"wires":[]},{"id":"83a1c37d.09626","type":"comment","z":"580791eb.8b6ae","name":"Contaner 온도 수신","info":"","x":150,"y":360,"wires":[]},{"id":"c073036a.754cc","type":"complete","z":"580791eb.8b6ae","name":"","scope":[],"uncaught":false,"x":520,"y":180,"wires":[[]]},{"id":"860d5b80.45f628","type":"debug","z":"580791eb.8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":180,"wires":[]}]